@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  --color-snuff-50: #faf6fe;
  --color-snuff-100: #f2eafd;
  --color-snuff-200: #ebdefc;
  --color-snuff-300: #d5baf8;
  --color-snuff-400: #bc8ef2;
  --color-snuff-500: #a262ea;
  --color-snuff-600: #8b42db;
  --color-snuff-700: #7730c0;
  --color-snuff-800: #652c9d;
  --color-snuff-900: #53257e;
  --color-snuff-950: #370f5c;
}
@theme {
  --font-sans: 'Alata', sans-serif;
  --font-serif: 'Cardo', serif;
}

:root {
  --ui-radius: 0.25rem;
}

